.profile_page {
  margin: 0 auto;
  max-width: 1400px;
}

.profile_header {
  border-bottom: 2px solid #5f5f5f;
  padding-bottom: 20px;
}

.user_image_css {
  position: relative;
  left: 200px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

.profile_header_1 {
  display: flex;
  height: 200px;
  text-align: center;
  align-items: center;
  position: relative;
}

.profile_header_2 {
  display: flex;
}

.user_name_large_shift {
  margin-left: 250px; /* ← 15〜20cm 相当（150〜200px の中間） */
}

.items_select {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 60px;
}

.items_select_all {
  width: 100%;
  max-width: 250px;
  display: flex;
  flex-direction: column;
}

.items_select_all a {
  display: block;
  width: 100%;
  height: auto;
  color: black;
}

.items_select img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.item_details {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.active_tab {
  color: #ff5555;
  font-weight: bold;
}

.inactive_tab {
  color: #5f5f5f;
  font-weight: bold;
}

.alert_success {
  background-color: #d1fae5;
  color: #065f46;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  border: 1px solid #34d399;
}
