@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------------------------------------------------- */
/* bodyのカスタムスタイルを調整します */
/* ---------------------------------------------------- */

body {
  /* 背景色のみを設定します。 */
  /* デフォルトのTailwindのリセットを維持するため、他のプロパティは削除します。 */
  background-color: #f1f1f1;
  /* color: white; の設定は、テキストが見えなくなる原因になるため削除しました。 */
}
