# =====================================
# OS / Editor
# =====================================
.DS_Store
.idea
.vscode
.fleet
.zed

# =====================================
# Secrets / Env
# =====================================
.env
.env.*
!.env.example

# =====================================
# Backend (Laravel)
# =====================================
backend/vendor
backend/storage/*.key
backend/storage/pail
backend/bootstrap/cache/*.php
backend/.phpunit.cache
backend/.phpunit.result.cache

# =====================================
# Frontend (Nuxt / Next)
# =====================================
frontend/node_modules
frontend/.nuxt
frontend/.output
frontend/.nitro
frontend/.cache
frontend/dist


# =====================================
# payment_core (Spring Boot / Gradle)
# =====================================
payment_core/.gradle/
payment_core/build/

# Spring Boot logs (local)
payment_core/paymentcore.log
# =====================================
# Logs
# =====================================
*.log
npm-debug.log*
yarn-error.log*

# =====================================
# Docker
# =====================================
docker/**/.envbackend/config/firebase-service-account.json


.git
node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
